*{
	margin:0;
	padding:0;
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
}

body{
	background-color:#E8EBF1;
	color: #454545;
	/*font-family:"Verdana";*/
	font-family:"FedraSansAltPro";
	font-size:16px;
}

/*TYPO*/
/*.blue_txt{
	color:#005F65 !important;
}
.white_txt{
	color:#ffffff !important;
}*/
/*-TYPO*/

/* Déclaration de polices */
@font-face {
    font-family: "FedraSansAltPro";
    src: url('../typo/FedraSansAltPro Book.otf');
}
#global-contenue
{
	background-color:#FFFFFF;	
	padding-top:25px; 
	padding-bottom:25px;
	margin: 0;
}
.wrapper{

	width:800px;
	height:auto;
	position: relative;
	margin:0 auto 0 auto;
	background-color:transparent;
}
.boxImg2 img{
			/*width:80%;
			height:auto;*/
			width:auto;
			height:200px;
			padding:5px;
		}
#slogan
{

	font-size:35px;
}
.menu
{
	float:left;
	height:220px;
	width: 18%;

}
.titre-menu
{
	height:32px;
	font-size:15px;

}
.docu
{

	margin-right:25%;
	margin-left:25%;
	height:850px !important;
	background-color:#E8EAEA;
}
.case
{
	background-color:red;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:6px;
}
.titre-cour
{


}
.titre
{
	font-family: 'Fjalla One', sans-serif;
	font-size:45px;
	text-align:left;
	margin-top:12px;
	margin-bottom:12px;
}
.sous-titre
{
	font-family: 'Fjalla One', sans-serif;
	font-size:35px;
	margin-top:12px;
	margin-bottom:12px;
	text-align: center;
}
.contenue
{
	font-size:19px;
		margin-top:5px;
	margin-bottom:5px;
}
#wrapfoot{
	width:100%;

	height:100px;
	background-color:#454545;
}
header,
#presentation,
#bandeau,
#boxes_global,
#recompenses
{
	width:100%;
	height:auto;
	position:relative;
}
#info
{

	height:250px;
	top:75px;
	position:relative;
	clear:both;

}
header{
	height:200px !important;
	background-color:#E8EBF1;
	color:#005F65 !important;
}

	#logoTaccer{
		width:auto;
		height:30px;
		position:relative;
		margin-top:35px;
		float:right;
	}
	#Taccer-powered{
		position:absolute;
		right:0;
		margin: 16px 0 0 0;
	}

div#presentation
{
	/*background-color:#FFFFFF;*/
	background-color:#005F65;
	margin: 0px 0 0px 0;
	padding-bottom: 225px;
}
#presentation_col-left
{
	width:60%;
	height: auto;
	position:relative;
	float:left;
	/*padding-right:100px;*/
	/*padding-top:30px;*/
}
		
div#bandeau{
	/*height:80px !important;*/
	height:100px !important;
	background-color:#005F65;
	color:#ffffff !important;
}

div#boxes_global{
	/*#7496E8 #4DBCE9 A TESTER*/
	background-color:#E8EAEA;
	/*margin: 50px 0;*/
	margin: 0;
	padding: 50px 0;
}
	#box1{
		/*margin-right:10px;*/
		margin-right:3%;
	}
	#box2{
		/*margin-right:10px;
		margin-left:10px;*/
		margin-left:1.5%;
		margin-right:1.5%;
	}
	#box3{
		/*margin-left:10px;*/
		margin-left:3%;
	}

	.boxWrapper{
		width:30.3333333%;
		height:auto;
		position:relative;
		float:left;
		text-align:justify;
		background-color: #ffffff;
		border:1px solid #005F65;
		transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
	}
		.boxWrapper:hover{
			transform: scale(1.1);
			-ms-transform: scale(1.1); /* IE 9 */
			-webkit-transform: scale(1.1); /* Safari and Chrome */
		}

	.boxHeader, .boxImg, .boxContent{
		position:relative;
		width:100%;
		height:auto;
	}

	.boxHeader{
		height:40px !important;
		background-color:#005F65;
		text-align:center;
		color:#ffffff;
		font-weight:bold;
		padding-top:7px;
	}

	.boxImg{
		/*border-left:1px solid #E8EBF1;
		border-right:1px solid #E8EBF1;*/
		border-bottom:1px solid #005F65;
		/*padding:10px 0 5px 0;*/
		padding:50px 0;
		text-align:center;
	}
		.boxImg img{
			/*width:80%;
			height:auto;*/
			width:auto;
			height:100px;
		}

	.boxContent{
		/*border:1px solid #E8EBF1;*/
		/*padding:20px 20px;*/
		padding:25px 20px;
		/*height:150px;*/
		height:150px;
	}

	div#boxes_global a,
	div#boxes_global a:active,
	div#boxes_global a:hover,
	div#boxes_global a:visited{
		color:#005F65;
		text-decoration:underline;
	}
	#more_infos{
		position:relative;
		float:right;
		text-align:right;
		margin:20px 0 0 0;
		color:#005F65;
		text-decoration:underline;
		cursor:pointer;
	}
div#recompenses{
	background-color:#ffffff;
	/*padding:10px 0;*/
	padding:25px 0;
	color:#005F65 !important;
}
	#recompencesEset{
		width:100%;
		height:auto;
		margin-top:20px;
		position:relative;
	}

div#global_blur{
	opacity:0;/*0.5*/
	z-index:20;
	background-color:#000000;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:none;
	transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out; /* Safari and Chrome */
}
	
	#box_extended{
		width:100%;
		height:auto;
		/*position:absolute;
		top:130px;
		left:0;*/
		position:absolute;
		top: 0;/*130px*/
		left:0;
		z-index:21;
		opacity:0;/*1*/
		display:none;
		margin-bottom:130px;
		transition: opacity 0.5s ease-in-out;
		-webkit-transition: opacity 0.5s ease-in-out; /* Safari and Chrome */
	}
		#box_extended .wrapper{
			background-color:white;
			padding:20px 20px;
			margin:130px auto;
		}
		#box_extended h3{
			color: #005F65;
			margin:20px 0 0 40px; 
		}
		#box_extended a,
		#box_extended a:active,
		#box_extended a:hover,
		#box_extended a:visited{
			color:#005F65;
			text-decoration:underline;
		}




		/*MENU DEROULANT*/
		/* Iconfont made with icomoon.com */
@font-face {
	font-family: 'cbp-tmicons';
	src:url('../fonts/tmicons/cbp-tmicons.eot');
	src:url('../fonts/tmicons/cbp-tmicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/tmicons/cbp-tmicons.woff') format('woff'),
		url('../fonts/tmicons/cbp-tmicons.ttf') format('truetype'),
		url('../fonts/tmicons/cbp-tmicons.svg#cbp-tmicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* reset  list style */
.cbp-tm-menu,
.cbp-tm-menu ul {
	list-style: none;
}

/* set menu position; change here to set to relative or float, etc. */
.cbp-tm-menu {
	display: block;
	position: absolute;
	z-index: 1000;
	bottom: 0;
	width: 100%;
	background: #454545;
	text-align: right;
	padding: 0 2em;
	margin: 0;
	text-transform: capitalize;
	top:0;
}

/* first level menu items */
.cbp-tm-menu > li {
	display: inline-block;
	margin: 0 2.6em;
	position: relative;
}

.cbp-tm-menu > li > a {
	line-height: 4em;
	padding: 0 0.3em;
	font-size: 1.2em;
	display: block;
	color: #fff;
}

.no-touch .cbp-tm-menu > li > a:hover,
.no-touch .cbp-tm-menu > li > a:active {
	color: #02639d;
}

/* sumbenu with transitions */
.cbp-tm-submenu {
	position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
	padding: 0;
	text-align: left;
	pointer-events: none;
	-webkit-transition: visibility 0s, opacity 0s;
	-moz-transition: visibility 0s, opacity 0s;
	transition: visibility 0s, opacity 0s;
}

.cbp-tm-show .cbp-tm-submenu {
	width: 16em;
	left: 50%;
	margin: 0 0 0 -8em;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	-webkit-transition: visibility 0s, opacity 0.3s;
	-moz-transition: visibility 0s, opacity 0.3s;
	transition: visibility 0s, opacity 0.3s;
}

.cbp-tm-show-above .cbp-tm-submenu {
	bottom: 100%;
	padding-bottom: 10px;
}

.cbp-tm-show-below .cbp-tm-submenu {
	top: 100%;
	padding-top: 10px;
}

/* extreme cases: not enough space on the sides */
.cbp-tm-nospace-right .cbp-tm-submenu {
	right: 0;
	left: auto;
}

.cbp-tm-nospace-left .cbp-tm-submenu {
	left: 0;
}

/* last menu item has to fit on the screen */
.cbp-tm-menu > li:last-child .cbp-tm-submenu {
	right: 0;
}

/* 	
arrow: depending on where the menu will be shown, we set 
the right position for the arrow
*/

.cbp-tm-submenu:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.cbp-tm-show-above .cbp-tm-submenu:after {
	top: 100%;
	margin-top: -10px;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
	bottom: 100%;
	margin-bottom: -10px;
}

.cbp-tm-submenu:after {
	border-color: transparent;
	border-width: 16px;
	margin-left: -16px;
	left: 50%;
}

.cbp-tm-show-above .cbp-tm-submenu:after {
	border-top-color: #fff;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
	border-bottom-color: #fff;
}

.cbp-tm-submenu > li {
	display: block;
	background: #fff;
}

.cbp-tm-submenu > li > a {
	padding: 5px 2.3em 5px 0.6em; /* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win */
	display: block;
	font-size: 1.2em;
	position: relative;
	color: #47a3da;
	border: 4px solid #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.no-touch .cbp-tm-submenu > li > a:hover,
.no-touch .cbp-tm-submenu > li > a:active {
	color: #fff;
	background: #47a3da;
}

/* the icons (main level menu icon and sublevel icons) */
.cbp-tm-submenu li a:before,
.cbp-tm-menu > li > a:before {
	font-family: 'cbp-tmicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;
	margin-right: 0.6em;
	-webkit-font-smoothing: antialiased;
}

.cbp-tm-submenu li a:before {
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
	right: 0.5em;
}

.cbp-tm-menu > li > a:not(:only-child):before {
	content: "\f0c9";
	font-size: 60%;
	opacity: 0.3;
}

.cbp-tm-icon-archive:before {
	content: "\e002";
}

.cbp-tm-icon-cog:before {
	content: "\e003";
}

.cbp-tm-icon-users:before {
	content: "\e004";
}

.cbp-tm-icon-earth:before {
	content: "\e005";
}

.cbp-tm-icon-location:before {
	content: "\e006";
}

.cbp-tm-icon-mobile:before {
	content: "\e007";
}

.cbp-tm-icon-screen:before {
	content: "\e008";
}

.cbp-tm-icon-mail:before {
	content: "\e009";
}

.cbp-tm-icon-contract:before {
	content: "\e00a";
}

.cbp-tm-icon-pencil:before {
	 background-image:"src/img/orm.png";
}

.cbp-tm-icon-article:before {
	content: "\e00c";
}

.cbp-tm-icon-clock:before {
	content: "\e00d";
}

.cbp-tm-icon-videos:before {
	;
}

.cbp-tm-icon-pictures:before {
	content: "\e00f";
}

.cbp-tm-icon-link:before {
	content: "\e010";
}

.cbp-tm-icon-refresh:before {
	content: "\e011";
}

.cbp-tm-icon-help:before {
	content: "\e012";
}

/* Media Queries */
@media screen and (max-width: 55.6875em) {
	.cbp-tm-menu {
		font-size: 80%;
	}
}

@media screen and (max-height: 25.25em), screen and (max-width: 44.3125em) {

	.cbp-tm-menu {
		font-size: 100%;
		position: relative;
		text-align: center;
		padding: 0;
		top: 0;
	}

	.cbp-tm-menu > li {
		display: block;
		margin: 0;
		border-bottom: 4px solid #3793ca;
	}

	.cbp-tm-menu > li:first-child {
		border-top: 4px solid #3793ca;
	}

	li.cbp-tm-show > a,
	.no-touch .cbp-tm-menu > li > a:hover,
	.no-touch .cbp-tm-menu > li > a:active {
		color: #fff;
		background: #02639d;
	}

	.cbp-tm-submenu {
		position: relative;
		display: none;
		width: 100%;
	}

	.cbp-tm-submenu > li {
		padding: 0;
	}

	.cbp-tm-submenu > li > a {
		padding: 0.6em 2.3em 0.6em 0.6em;
		border: none;
		border-bottom: 2px solid #6fbbe9;
	}

	.cbp-tm-submenu:after {
		display: none;
	}

	.cbp-tm-menu .cbp-tm-show .cbp-tm-submenu {
		display: block;
		width: 100%;
		left: 0;
		margin: 0;
		padding: 0;
	}

}

/*FIN MENU*/
/*
MENU VERTICAL */
/*######## ITEMS Principaux ############*/
.menu_div ul {
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#FFF;
list-style:none;
text-indent:15px;
background:#333333;
width:220px;
position:absolute;
}

.menu_div ul li {
background:#333333;
line-height:40px;
border-bottom:1px solid #000;
height:40px;
}

.menu_div ul li:hover {
background:#4D4D4D;
}

.menu_div ul li a {
text-decoration:none;
color:#FFF;
display:block;
}

.menu_div ul li a:hover {
background:#4D4D4D;
}

.menu_div ul li#active {
background:#3ea5ea;
}
/*######## FIN règles ITEMS Principaux ############*/

/*######## ITEMS Secondaires ############*/
ul ul {
display: none;
}

li:hover ul.sub-item1 {
display:block;
left:200px;
top:41px;
position:absolute;
width:200px;
}

li:hover ul.sub-item2 {
display:block;
left:200px;
top:82px;
position:absolute;
}

li:hover ul.sub-item3 {
display:block;
left:200px;
top:123px;
position:absolute;
}/*
Fin menu vertical */